<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nativegl">

    <application android:label="NativeGL">
        <activity android:name="android.app.NativeActivity"
            android:label="NativeGL"
            android:configChanges="orientation|keyboardHidden">
            <meta-data android:name="android.app.lib_name"
                android:value="nativegl" />
        </activity>
    </application>

</manifest>
